.conteiner{
    width: 1050px;
    margin: auto;
}

/* Logo */
#logo {
    width: 200px;
    height: 100px;
}

.title-page {
    background-image: url("../img/pattern.png");
    background-position: top;
    background-repeat: repeat;
    background-color: #4ea0ff; 
    background-size: 40%;
}

/* Header */
#link-Booleaner {
    text-decoration: none;
    color: #20a9e5;
}

.author {
    color: #818181;
    font-weight: bold;
}

/* Main */
.important {
    background-color: #ffff00;
}

/* Table */
